@import url('http://fonts.cdnfonts.com/css/penna');
@import url('http://fonts.cdnfonts.com/css/helsinki');

body{
  background-color: black;
  height: 100vh;
  width: 100%;

}
.App {
  text-align: center;
}

.Header h1{
  font-family: 'Penna', sans-serif;
  color: rgba(99,212,113, 0.6);
  outline: pink;
  font-size: 100px;
  width: 500px;
  height: 100px;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 10px;
  left: 1px;
  margin: 0;
  margin-left: -30px;
  padding: 0;
}
.span{
  font-family: sans-serif !important;
  font-weight: bold;
  color: white;

}
.navbar a{
  color: white;
  text-decoration: none;
  font-family:"Penna",sans-serif;
  font-size:35px;
  font-weight: bolder;
  margin-right: 20px;
  /* background: -webkit-linear-gradient(45deg,white,rgb(22,109,59));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.navbar{
  position: absolute;
  top: 50px;
  right: 40px;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background-image: linear-gradient(45deg,rgba(35,51,41,0.6),rgba(99,212,113, 0.6));
  border-radius: 10px;
  position: absolute;
  top: 160px;
  right: 50px;
}
.login-form{
  width: 200px;
  margin-bottom: 20px;
}
.login-icon{
  margin-top: -30px;
  margin-bottom: 30px;
}
.login-button{
  border: 1px solid black !important;
}
.body-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 200px;
  left: 80px;
}

.body-text h1,h2{
  color: white;
}